@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
}

h2 {
    font-size:1.5625rem;
}

/* Menu */
a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 900;
    color: black;
}

header img {
  height: 55px;
  float: left;
  margin-top: 5px;
  padding-left: 10px;
}

nav {
    position:fixed;
    background-color: #231f20;
    height: 3.4375rem;
    width: 100%;
}

#check {
    display: none;
}

.checkm {
    display: none;
}

nav ul a {
    color:#ffffff;
    display: inline-block;
    float: right;
    line-height: 3.4375rem;
    margin: 0px 1.0625rem;
    font-size: 1rem;
}


/* Fin menu */

#img-portada {
   background-image: url(https://images.pexels.com/photos/5409748/pexels-photo-5409748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: calc(70vh - 5rem);
   width: 100%;
}

#beneficios {
    margin: 1.25rem 0rem;
}

#beneficios img {
    width:  5rem;
    height: 5rem;
}

#beneficios #somos-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9375rem 1.25rem;
    text-align: justify;
}

#video iframe {
    height: 30vh;
    width: 100%;
}

#comprar img {
    height: 20vh;
    width: auto;
    border-radius: 0.625rem;
    padding-bottom: 0.625rem;
}

#comprar .productos{
    border-radius: 10px;
    margin: 0.9375rem;
}

#comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem 0rem;
    text-align: center;
}

#comprar h2 {
    font-size: 1.5625rem;
    padding-top: 1.25rem;
}

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    text-align: center;
    height: 30vh;
}

h2 {
    font-size: 1.25rem;
}

form {
    width: 18.75rem;
}

form input[type=email] {
    background-color: #efefef;
    text-align: left;
    font-weight: 600;
    border: 2px solid transparent;
    margin: 1.875rem 0.625rem;
    width: 100%;
    border-bottom: 2px solid #aeaeae;
}

form input[type=email]:focus {
    outline: none;
    background-color: #aeaeae;
    border-radius: 5px;
    color: #292828;
    font-weight: 800;
}

::placeholder {
    font-weight: 700;
}

form input[type=submit] {
    background-color: #aeaeae;
    padding: 0rem 0.625rem;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
}

form input[type=submit]:hover {
    background-color: #ffffff;
    border: 2px solid #aeaeae;
    transition: .25s;
}

footer {
    background-color: #aeaeae;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: right;
    padding-right: 5px;
}

@media screen and (max-width: 750px) {

a {
 text-decoration: none;
 font-size: 1.25rem;
 font-weight: 900;
 color: black;
}

header img {
  height: 2.5rem;
  float: left;
  padding-left: 0;
}

nav {
    position:fixed;
    background-color: #231f20;
    height: 48px;
    width: 100%;
}

nav i {
    font-size: 1.5rem;
    color: aliceblue;
    float: right;
    margin: 12px 10px;
    cursor: pointer;
   
}

#check {
    display: none;
}

.checkm {
display: block;
}

ul {
    position: fixed; 
    width: 100%;
    height: 100vh;
    background-color:#aeaeae;
    top: 48px;
    right: -100%;
    text-align: center;
    transition: all .5s;
}

ul li {
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

#check:checked ~ ul {
    right: 0;
}
}

@media (min-width: 751px) {

    * {
        font-size: 19px;
    }

    h2 {
        font-size: 1.75rem;
    }
    
    #beneficios {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6.25rem 0rem;
    }
    #beneficios #somos-contenido {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70vw;
    }

    #beneficios #somos-contenido .contenido-c {
        padding-left: 1.875rem;
    }

    #beneficios img {
        width:  9.375rem;
        height: 9.375rem;
    }

    #video {
        display: flex;
        justify-content: center;
        background-color: #292828;
    }
    #video iframe {
        display: flex;
        justify-content: cen;
        height: 70vh;
        width: 80%;
    }

    #comprar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.25rem 0rem;
        text-align: center;
    }

    #comprar h2 {
        font-size: 2.5rem;
        padding-top: 6.25rem;
    }

    #comprar img {
        height: auto;
        width: 31.25rem;
    }

    #comprar a {
        margin: 1.25rem 3.125rem;
    }

    .producto-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 9.375rem;
    }

}